{% extends 'auth/auth_base.html' %}
{% load static %}

{% block title %} Register {% endblock title %}

{% block body %}


            <!-- Body: Body -->
            <div class="body d-flex p-0 p-xl-5">
                <div class="container-xxl">
                    <div class="row g-3">
                        <div class="col-lg-6 d-flex justify-content-center align-items-center auth-h100">
                            <div class="d-flex flex-column">
                                <h1>Create Your Account</h1>
                                <span class="text-muted">Register with your email or mobile</span>
                                
                                <div class="tab-content mt-4 mb-3">
                                    <div class="tab-pane fade show active" id="Email">
                                        <div class="card">
                                            <div class="card-body p-4">
                                                <form action="{% url 'accounts:register' %}" method="POST">
                                                    {% csrf_token %}
                                                    <div class="mb-3">
                                                        <label class="form-label fs-6">Email address</label>
                                                        {{ register_form.email }}
                                                    </div>
                                                    <div class="mb-3">
                                                        <label class="form-label fs-6">First Name</label>
                                                        {{ register_form.first_name }}
                                                    </div>
                                                    <div class="mb-3">
                                                        <label class="form-label fs-6">Last Name</label>
                                                        {{ register_form.last_name }}
                                                    </div>
                                                    <div class="mb-3">
                                                        <label class="form-label fs-6">Phone Number</label>
                                                        {{ register_form.last_name }}
                                                    </div>
                                                    <div class="mb-3">
                                                        <label class="form-label fs-6">Password</label>
                                                        {{ register_form.password }}
                                                    </div>
                                                    <div class="mb-3">
                                                        <label class="form-label fs-6">Repeat Password</label>
                                                        {{ register_form.confirm_password }}
                                                    </div>
                                                    <button type="submit" class="btn btn-primary text-uppercase py-2 fs-5 w-100 mt-2">Create Account</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <a href="{% url 'accounts:login' %}" title="#">Already registered? <span class="text-secondary text-decoration-underline">Log In</span></a>
                            </div>
                        </div>

                        <div class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center auth-h100">
                            <div class="qr-block text-center">
                                <img src="{% static 'assets/images/qr-code.png' %}" alt="#" class="img-fluid my-4">
                                <h4>Log in with QR code</h4>
                                <p>Scan this code with the <span class="text-primary">Cryptoon mobile app</span><br/> to log in instantly.</p>
                            </div>
                        </div>
                    </div> <!-- End Row -->
                    
                </div>
            </div>


{% endblock body %}